
import(RCurl,httr,jsonlite)
export(basic_playlist)
export(extract_artist_names)
export(get_artist_biographies)
export(get_artist_blogs)
export(get_artist_data)
export(get_artist_familiarity)
export(get_artist_hotttnesss)
export(get_artist_images)
export(get_artist_news)
export(get_artist_reviews)
export(get_artist_songs)
export(get_artist_terms)
export(get_artist_videos)
export(get_genre_info)
export(get_top_genre_artists)
export(get_top_hottt)
export(get_top_terms)
export(get_twitter_handle)
export(list_genres)
export(list_terms)
export(search_artist)
export(search_genre)
export(search_songs)
export(similar_artists)
export(similar_genres)
export(standard_static_playlist)
export(suggest_artist_names)
